<footer class="p-5">
    <div >
        <div class="footer1">
            <img src="/assets/images/image 18.png" alt="">
        </div>
        <div class="footer2">
            <img src="/assets/images/image 18.png" alt="">
        </div>
        <div class="footer3">
            <img src="/assets/images/image 18.png" alt="">
        </div>
    </div>
    <div class="container-fluid px-lg-5">
        <div class="row px-lg-5 gy-4">
            <div class="col-12 col-md-3">
                <img src="/assets/images/Logo Coloured.png" alt="" class="" width="200" height="51">
                <p class="mb-0">Copyright &copy; [2023] Raphina AI.</p>
                <p>All rights reserved.</p>
            </div>
            <div class="col-6 col-md-3">
                <p class="fw-bold">Company</p>
                <p><a href="/about" class="text-decoration-none">About Us</a></p>
                <p><a href="" class="text-decoration-none">Contact Us</a></p>
                <p><a href="/blog" class="text-decoration-none">Blog</a></p>
            </div>
            <div class="col-6 col-md-3">
                <p class="fw-bold">Legal</p>
                <p><a href="" class="text-decoration-none">Privacy Policy</a></p>
                <p><a href="" class="text-decoration-none">Terms of service</a></p>
                <!-- <p><a href="" class="text-decoration-none">Promotions</a></p> -->
            </div>
            <div class="col-6 col-md-3">
                <p class="fw-bold">Social Media</p>
                <p><a href="" class="text-decoration-none">Twitter</a></p>
                <p><a href="" class="text-decoration-none">Instagram</a></p>
                <p><a href="" class="text-decoration-none">LinkedIn</a></p>
            </div>
        </div>
    </div>
</footer>