<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raphina Blog</title>
    <%- include('partials/headlinks') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <h1 class="fw-bold text-center color1 mt-5 pt-5">COMING SOON</h1>
<body>
    
</body>
</html>