<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raphina AI - Your Personal Health Assistant</title>
    <%- include('partials/headlinks') %>
</head>
<body>
    <%- include('partials/navbar') %>
    
    <main>
        <section class="my-sm-5 my-3 container-fluid p-0">
            <div class="green-box1 d-none d-sm-block"></div>
            <div class="design1">
                <img src="/assets/images/Rectangle 16.png" alt="">
            </div>
            <div class="design2">
                <img src="/assets/images/Rectangle 17.png" alt="">
            </div>
            <div class="design3">
                <img src="/assets/images/Rectangle 16.png" alt="">
            </div>
            <div class="design4">
                <img src="/assets/images/Rectangle 17.png" alt="">
            </div>
            <div class="eclipse1">
                <img src="/assets/images/Ellipse 3.png" alt="">
            </div>
            <div class="eclipse2">
                <img src="/assets/images/Ellipse 3.png" alt="">
            </div>
            <div class="text-center px-sm-5 p-4 mx-sm-5">
                <div class="px-md-5">
                    <h1 class="color1 fw-bold mb-3">Raphina AI: <br class="d-lg-none"> YOUR PERSONAL HEALTH ASSISTANT</h1>
                    <p class="fs-5 mb-4 ">Experience Personalized Healthcare Insights with Raphina and Live a Healthy Life</p>
                    <button class="btn btn-success px-3 py-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Join our Waitlist</button>
                </div>
            </div>
            <div class="container-fluid px-lg-5 px-0">
                <div class="row mx-sm-5 mt-3  px-md-5 px-2 gy-sm-4 gy-0 gx-0 pt-0 text-center">
                    <div class="col-md-3 col-6 img-size">
                        <img src="/assets/images/Rectangle 10.png" alt="">
                    </div>
                    <div class="col-md-3 col-6 transformed img-size">
                        <img src="/assets/images/Rectangle 12.png" alt="">
                    </div>
                    <div class="col-md-3 col-6 img-size">
                        <img src="/assets/images/Rectangle 11.png" alt="">
                    </div>
                    <div class="col-md-3 col-6 transformed img-size">
                        <img src="/assets/images/Rectangle 15.png" alt="">
                    </div>
                </div>
            </div>
            
            <div class="green-box2 d-none d-sm-block"></div>
        </section>
        <section class="my-sm-5 my-3 container-fluid px-lg-5 pt-5">
            <div class="design5">
                <img src="/assets/images/Rectangle 16.png" alt="">
            </div>
            <div class="design6">
                <img src="/assets/images/Rectangle 17.png" alt="">
            </div>
            <div class="design7">
                <img src="/assets/images/Rectangle 16.png" alt="">
            </div>
            <div class="design8">
                <img src="/assets/images/Rectangle 17.png" alt="">
            </div>
            <div class="eclipse3">
                <img src="/assets/images/Ellipse 3.png" alt="">
            </div>
            <div class="eclipse4">
                <img src="/assets/images/Ellipse 3.png" alt="">
            </div>
            <div class="mt-md-5 pt-md-5">
                <h2 class="color1 text-center mt-sm-5 mt-3 fw-semibold" >We are Empowering the Next-Generation with <br class="d-none d-md-block"> Reliable Health Content.</h2>
            </div>
            <div class="container-fluid p-0 my-5 pt-3 px-lg-5 px-md-0 px-sm-5 px-2">
                <h1 class="text-center fw-bold color1 pb-4">HOW DOES IT WORK?</h1>
                <div class="row px-md-5 px-2">
                    <div class="col-12 col-md-6 align-self-center">
                        <h2 class="fw-bold font-monospace mb-4 text-md-start text-center">Smart Image Recognition</h2>
                        <p>Raphina AI's smart image recognition technology effortlessly analyzes your uploaded image and videos, translating them into clear insights about your body condition.</p>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <img src="/assets/images/Frame 18.png" alt="" class="img-fluid img-size1">
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 my-5 pt-3 px-lg-5 px-md-0 px-sm-5 px-2">
                <div class="row px-md-5 px-2">
                    <div class="col-12 col-md-6 text-center order-2 order-md-1">
                        <img src="/assets/images/Frame 18(2).png" alt="" class="img-fluid img-size1">
                    </div>
                    <div class="col-12 col-md-6 align-self-center order-1 order-md-2">
                        <h2 class="fw-bold font-monospace mb-4 text-md-start text-center">Personalized Recommendation</h2>
                        <p>Whether it's skincare, injury management, or symptom relief, we've got you covered with personalized solutions that will make you feel like a health superstar.</p>
                    </div>
                </div>
            </div>
            <div class="design9">
                <img src="/assets/images/Rectangle 16.png" alt="">
            </div>
            <div class="design10">
                <img src="/assets/images/Rectangle 17.png" alt="">
            </div>
            <div class="design11">
                <img src="/assets/images/Rectangle 16.png" alt="">
            </div>
            <div class="design12">
                <img src="/assets/images/Rectangle 17.png" alt="">
            </div>
            <div class="eclipse5">
                <img src="/assets/images/Ellipse 3.png" alt="">
            </div>
            <div class="eclipse6">
                <img src="/assets/images/Ellipse 3.png" alt="">
            </div>
            <div class="container-fluid p-0 my-5 pt-3 px-lg-5 px-md-0 px-sm-5 px-2">
                <div class="row px-md-5 px-2">
                    <div class="col-12 col-md-6 align-self-center">
                        <h2 class="fw-bold font-monospace mb-4 text-md-start text-center">Remote Patient Monitoring</h2>
                        <p>Who says healthcare has to be boring? With Raphina AI's remote patient monitoring, you can receive ongoing care and support from the comfort of your own home.</p>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <img src="/assets/images/Frame 18 (1).png" alt="" class="img-fluid img-size1">
                    </div>
                </div>
            </div>
        </section>
        <section class="my-sm-5 my-3 container-fluid px-0 backgreen">
            <div class="py-4 px-md-5 ">
                <h1 class="text-light fw-bold mb-5 ps-4">Peek into our minds</h1>
                <div class="container-fluid px-md-5">
                    <div class="row text-center px-md-5 gy-5">
                        <div class="col-12 col-lg-4 text-start">
                            <div class="card mx-auto"  >
                                <img src="/assets/images/Frame 25.png" class="card-img-top img-size2" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title fw-bold">The Power of Self-Care: Nurturing Your Mind, Body, and Soul </h5>
                                  <p class="card-text fs-6">In today's fast paced world, self-care has become more important than ever.It's not just a trendy buzzword. </p>
                                  <p class="color1">
                                    <a href="#" class="color1">Read Article </a>
                                  <i class="bi bi-arrow-right"></i>
                                  </p>
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-4 text-start">
                            <div class="card mx-auto" >
                                <img src="/assets/images/Frame 25.png" class="card-img-top img-size2" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title fw-bold">The Power of Self-Care: Nurturing Your Mind, Body, and Soul </h5>
                                  <p class="card-text fs-6">In today's fast paced world, self-care has become more important than ever.It's not just a trendy buzzword. </p>
                                  <p class="color1">
                                    <a href="#" class="color1">Read Article </a>
                                  <i class="bi bi-arrow-right"></i>
                                  </p>
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-4 text-start">
                            <div class="card mx-auto">
                                <img src="/assets/images/Frame 25.png" class="card-img-top img-size2" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title fw-bold">The Power of Self-Care: Nurturing Your Mind, Body, and Soul </h5>
                                  <p class="card-text fs-6">In today's fast paced world, self-care has become more important than ever.It's not just a trendy buzzword. </p>
                                  <p class="color1">
                                    <a href="#" class="color1">Read Article </a>
                                  <i class="bi bi-arrow-right"></i>
                                  </p>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>