<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headlinks') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raphina AI - Your Personal Health Assistant</title>
    
</head>
<body>
    <%- include('partials/google') %>
    
    <main>
        <div>
            <div class="design13">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design14">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design15">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design16">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design17">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design18">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design19">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design20">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design21">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design22">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design23">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design24">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design25">
                <img src="/assets/images/image 18.png" alt="">
            </div>
        </div>
        <div class="main-bg pt-5 pb-4 d-flex">
            <%- include('partials/navbar') %>
            <section class="mb-sm-5 mb-3 py-5 container-fluid align-self-center">
                <!-- <div class="green-box1 d-none d-sm-block"></div> -->
                
                <div class="text-center px-sm-5 p-4 mx-sm-5">
                    <div class="px-md-5">
                        <h1 class="text-light fw-bold my-md-5 mt-4 mb-5 pb-3 pb-sm-0 pt-sm-3">Ra<i>p</i>hina AI: <br class="d-lg-none"> YOUR PERSONAL HEALTH ASSISTANT</h1>
                        <p class="fs-4 mb-5 pb-3 pb-sm-0 text-light">Experience Personalized Healthcare Insights with Raphina <br class="d-none d-md-block"> and Live a Healthy Life</p>
                        <a href="/assets/raphina-ai.apk" download="Raphina AI" class="btn btn-success btn-lg px-4 py-2 mt-sm-4">Install App</a>
                        <!-- <button class="btn btn-success btn-lg px-4 py-3 mt-sm-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Join our Waitlist</button> -->
                    </div>
                </div>
            </section>
        </div>
        <section class="py-5">
            <div class="container-fluid">
                <div class="row my-5">
                    <div class="col-md-6 col-12 position-relative ps-0 order-2 order-md-1">
                        <div class="orange-div position-absolute top-50 translate-middle-y"></div>
                        <div class="text-center">
                            <img src="/assets/images/Dashboard_MOckup_1-removebg-preview 1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6 col-12 align-self-center text-center order-1 order-md-2">
                        <h1 class="fw-bold">Get Ahead with Personalized Health Recommendations</h1>
                        <p class="fs-4">Track your vitals, build healthy habits and become more aware of your health.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12 align-self-center text-center">
                        <h1 class="fw-bold">From Image to Insights</h1>
                        <p class="fs-4">Get instant answers to any health query you have concerning your body, You can scan with your phone and Raphina</p>
                    </div>
                    <div class="col-md-6 col-12 p-0 position-relative">
                        <div class="orange-div position-absolute top-50 translate-middle-y"></div>
                        <div class="text-center">
                            <img src="/assets/images/Dashboard_MOckup-removebg-preview (6) 1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="my-3 container-fluid">
            <div class="mt-md-5 pt-md-5 mb-4">
                <h2 class="color1 text-center mt-sm-5 mt-3 fw-semibold" >We are Empowering the Next-Generation with <br class="d-none d-md-block"> Reliable Health Content.</h2>
            </div>
            <div class="swiper text-center">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="/assets/images/Group 7 (1).png" alt="" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/images/Group 8 (1).png" alt="" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/images/Group 9 (1).png" alt="" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/images/Group 10.png" alt="" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/images/Group 11.png" alt="" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/images/Group 12.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
        <section class="my-3 container-fluid px-lg-5">
            <div class="design5">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design6">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design7">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="eclipse3">
                <img src="/assets/images/Ellipse 3.png" alt="">
            </div>
            <div class="eclipse4">
                <img src="/assets/images/Ellipse 3.png" alt="">
            </div>
            
            <div class="container-fluid p-0 my-5 pt-3 px-lg-5 px-md-0 px-sm-5 px-2">
                <h1 class="text-center fw-bold color1 pb-4">HOW DOES IT WORK?</h1>
                <div class="row px-md-5 px-2">
                    <div class="col-12 col-md-6 align-self-center">
                        <h2 class="fw-bold font-monospace mb-4 text-md-start text-center">AI Chat</h2>
                        <p class="fs-5">Raphina AI's smart image recognition technology effortlessly analyzes your uploaded image and videos, translating them into clear insights about your body condition.</p>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <img src="/assets/images/AI Chat.png" alt="" class="img-fluid img-size1">
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 my-5 pt-3 px-lg-5 px-md-0 px-sm-5 px-2">
                <div class="row px-md-5 px-2">
                    <div class="col-12 col-md-6 text-center order-2 order-md-1">
                        <img src="/assets/images/Medical Records.png" alt="" class="img-fluid img-size1">
                    </div>
                    <div class="col-12 col-md-6 align-self-center order-1 order-md-2">
                        <h2 class="fw-bold font-monospace mb-4 text-md-start text-center">Save Medical Records</h2>
                        <p class="fs-5">Whether it's skincare, injury management, or symptom relief, we've got you covered with personalized solutions that will make you feel like a health superstar.</p>
                    </div>
                </div>
            </div>
            <div class="design9">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design10">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design11">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="design12">
                <img src="/assets/images/image 18.png" alt="">
            </div>
            <div class="eclipse5">
                <img src="/assets/images/Ellipse 3.png" alt="">
            </div>
            <div class="eclipse6">
                <img src="/assets/images/Ellipse 3.png" alt="">
            </div>
            <div class="container-fluid p-0 my-5 pt-3 px-lg-5 px-md-0 px-sm-5 px-2">
                <div class="row px-md-5 px-2">
                    <div class="col-12 col-md-6 align-self-center">
                        <h2 class="fw-bold font-monospace mb-4 text-md-start text-center">Scan</h2>
                        <p class="fs-5">Who says healthcare has to be boring? With Raphina AI's remote patient monitoring, you can receive ongoing care and support from the comfort of your own home.</p>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <img src="/assets/images/Scan.png" alt="" class="img-fluid img-size1">
                    </div>
                </div>
            </div>
        </section>
        <section class="my-sm-5 my-3 container-fluid px-0">
            <div class="py-4 px-md-5 ">
                <h1 class="fw-bold mb-5 ps-4">Peek into our minds</h1>
                <div class="container-fluid px-md-5">
                    <div class="row px-lg-5 gy-5 px-3">
                        <div class="col-md-6 col-12 px-4 ">
                            <div class="card mx-auto" >
                                <img src="/assets/images/Rectangle 44.png" class="card-img-top" alt="" >
                                <div class="card-body px-0">
                                  <p class="card-title fw-bold fs-5">The Power of Self-Care: Nuturing Your Mind, Body and Soul</p>
                                  <p class="card-text">
                                    <p class="d-flex">
                                        <a href="blog" class="btn btn-secondary me-3">Article</a>
                                        <span class="align-self-center">12, July 2023</span>
                                    </p>
                                  </p>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-6 col-12 px-4">
                            <div class="card mx-auto">
                                <img src="/assets/images/Rectangle 45.png" class="card-img-top" alt="" >
                                <div class="card-body px-0">
                                  <p class="card-title fw-bold fs-5">The Power of Self-Care: Nuturing Your Mind, Body and Soul</p>
                                  <p class="card-text">
                                    <p class="d-flex">
                                        <a href="blog" class="btn btn-secondary me-3">Article</a>
                                        <span class="align-self-center">12, July 2023</span>
                                    </p>
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="fw-semibold fs-4 float-end"><a href="/blog" class="text-decoration-none text-dark">Check out our blog <i class="bi bi-arrow-right"></i></a></span>
                </div>

            </div>
        </section>
        <section class="pt-sm-5 pt-3 orange-bg ps-md-5 my-5">
            <div class="container-fluid">
                <div class="row gy-sm-5">
                    <div class="col-md-6 px-5 py-5">
                        <h1 class="text-light">Ready to uncover your health secrets?</h1>
                        <p class="text-light fs-5">Peek into Your Well-being: Discover Raphina AI's Health Insights.</p>
                        <a href="/assets/raphina-ai.apk" download="Raphina AI" class="btn btn-success btn-lg px-4 py-2 mt-sm-4">Install App</a>
                        <!-- <button class="btn btn-light text-success px-3 py-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Join our waitlist</button> -->
                    </div>
                    <div class="col-md-6 px-0 position-relative pt-5 " >
                        <div class="green-div mt-5"></div>
                        <div class="position-absolute bottom-0">
                            <img src="/assets/images/istockphoto-1432226243-612x612-removebg-preview 1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

<script>
        const swiper = new Swiper('.swiper', {
            loop: true,
            speed: 400,
            spaceBetween: 100,
            autoplay: {
                delay: 1000,
            },
            slidesPerView: 1,
            spaceBetween: 30,
            // Responsive breakpoints
            breakpoints: {
                // when window width is >= 480px
                480: {
                slidesPerView: 1,
                spaceBetween: 30
                },
                // when window width is >= 640px
                768: {
                slidesPerView: 2,
                spaceBetween: 40
                },
                992: {
                slidesPerView: 3,
                spaceBetween: 40
                }
            }
        });
</script>
</html>